body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

main {
  background-color: #ebedee;
  padding-bottom: 300px;
}

h2 {
  font-size: 24px;
  padding-top: 40px;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 10px 0;
}

header button {
  width: 115px;
  height: 30px;
  font-size: 12px;
}

.logo {
  width: 78px;
  height: 35px;
}

.search {
  width: 632px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search input {
  width: 100%;
  height: 39px;
  border: none;
  background-color: #f5f6f7;
  font-size: 18px;
  color: rgb(192, 192, 192);
  border-radius: 5px;
}

.search input:focus {
  outline: none;
}

.search input::-webkit-input-placeholder {
  color: rgb(206, 206, 206);
}

.search > div {
  width: 100%;
  height: 36px;
  border: 1px solid #3bb1ba;
  border-radius: 5px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.search > div > div {
  width: 316px;
  height: 100%;
  display: flex;
  align-items: center;
}

nav {
  width: 250px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-login-signup {
  background-color: #fff;
  color: #3bb1ba;
  border: 1px solid #3bb1ba;
  border-radius: 5px;
}

.button-login-signup:hover {
  background-color: #3bb1ba;
  color: white;
  border: none;
  border-radius: 5px;
}

.button-sold {
  background-color: #3bb1ba;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.button-sold:hover {
  background-color: #fff;
  color: #3bb1ba;
  border: 1px solid #3bb1ba;
  border-radius: 5px;
}

.button-logout {
  background-color: #c2175b;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.button-logout:hover {
  color: #c2175b;
  background-color: #fff;
  border: 1px solid #c2175b;
  border-radius: 5px;
}

/* HOME */

.home img {
  width: 100%;
  height: 455px;
  object-fit: cover;
  position: relative;
}

.home-hero-ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 34px;
  width: 410px;
  height: 270px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 20px -10px;
  padding: 25px;
  position: absolute;
  top: 20%;
  left: 5%;
}

.home-hero-ready button {
  box-sizing: border-box;
  background-color: #3bb1ba;
  color: #fff;
  border: 1px solid #3bb1ba;
  border-radius: 5px;
  width: 187px;
  height: 45px;
  margin-top: 32px;
  font-size: 16px;
}

.home-hero-ready button:hover {
  color: #3bb1ba;
  background-color: #fff;
}

/* Cards */

.home-card-wrapper {
  box-sizing: border-box;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card {
  width: 247px;
  height: 489px;
}

.card-avatar-username {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.card-avatar-username > img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.card-img {
  height: 360px;
  width: 100%;
  object-fit: cover;
}

.card-img:hover {
  opacity: 0.8;
}

.card-price-size-brand {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 6px;
  font-size: 12px;
}

.card-price-size-brand span:first-child {
  font-size: 14px;
  font-weight: bold;
}

/* OFFER PAGE */

.offer-container {
  display: flex;
  height: 605px;
  gap: 30px;
  justify-content: space-between;
  padding: 30px;
  background-color: #ebedee;
}

.offer-picture {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 65%;
}
.offer-picture img {
  height: 100%;
  object-fit: cover;
}

.offer-infos {
  flex: 1;
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.offer-infos button {
  border: none;
  background-color: #3bb1ba;
  color: #fff;
  border-radius: 5px;
  width: 320px;
  height: 36px;
  cursor: pointer;
}

.offer-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  gap: 5px;
}

.offer-details ul li {
  display: flex;
  justify-content: space-between;
}

.offer-details ul li span {
  width: 50%;
}

.offer-details ul li span:first-child {
  color: rgb(177, 177, 177);
}

.offer-price {
  font-size: 24px;
  margin-bottom: 20px;
}

.offer-name {
  font-weight: bold;
  margin: 15px 0;
}

.offer-description {
  display: flex;
  justify-content: space-between;
  color: rgb(177, 177, 177);
  margin: 15px 0;
}

.offer-avatar-username {
  display: flex;
  align-items: center;
}

.offer-avatar-username img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: rgb(177, 177, 177);
}

/* SIGNUP */

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.signup-container h2 {
  font-size: 24px;
  margin: 20px 0;
  color: #a7a7a7;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 275px;
  margin: 0 auto;
  justify-content: center;
}
.signup-form input {
  height: 38px;
  font-size: 18px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #dc8989;
}
.signup-form input:focus {
  outline: none;
}
.signup-form input::-webkit-input-placeholder {
  color: rgb(206, 206, 206);
}

.checkbox-container {
  color: #a7a7a7;
  padding: 10px;
  margin-top: 20px;
}

.checkbox-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #a7a7a7;
  height: 20px;
}

.checkbox-container input {
  width: 26px;
  margin: 0;
}
.checkbox-container p {
  font-size: 14px;
  text-align: justify;
  margin: 12px 0;
}

.signup-container button {
  box-sizing: border-box;
  background-color: #3bb1ba;
  color: #fff;
  border: 1px solid #3bb1ba;
  border-radius: 5px;
  height: 45px;
  margin-top: 32px;
  font-size: 16px;
}

.signup-container button:hover {
  color: #3bb1ba;
  background-color: #fff;
}

.signup-container a {
  color: #3bb1ba;
  text-decoration: none;
  margin-top: 20px;
  font-size: 12px;
}

/* PUBLISH */

.form-container {
  background-color: #ebedee;
}

.publish-form {
  display: flex;
  flex-direction: column;
}

.publish-form #picture {
  height: 50px;
  border: 1px solid black;
}

.form-file-select {
  background-color: #fff;
  box-sizing: border-box;
  height: 250px;
  border: 1px solid rgb(189, 189, 189);
  padding: 24px;
  margin: 20px 0;
}

.form-file-select > div {
  border: 1px dotted rgb(189, 189, 189);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-file {
  box-sizing: border-box;
  height: 50px;
  width: 190px;
  color: #3bb1ba;
  border: 1px solid #3bb1ba;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.label-file:hover {
  background-color: #3bb1ba;
  color: #fff;
}

.label-file span:first-child {
  font-size: 40px;
}

.input-file {
  display: none;
}

.text-input-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(189, 189, 189);
  margin: 20px 0;
  color: rgb(77, 77, 77);
}
.text-input {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 74px;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 24px;
}

.text-input > input {
  width: 50%;
  height: 25px;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.text-input > input::-webkit-input-placeholder {
  color: rgb(206, 206, 206);
}

.text-input > input:focus {
  outline: none;
}

.text-input-price {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.text-input-price > div {
  width: 50%;
}

.text-input-price > div > input {
  width: 100%;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid rgb(235, 235, 235);
  margin-bottom: 40px;
}

.text-input-price > div > input::-webkit-input-placeholder {
  color: rgb(206, 206, 206);
}

.text-input-price > div > input:focus {
  outline: none;
}

.text-input-checkbox {
  color: rgb(77, 77, 77);
}

.form-button-section {
  display: flex;
  justify-content: end;
}

.form-button-section button {
  box-sizing: border-box;
  background-color: #3bb1ba;
  color: #fff;
  border: 1px solid #3bb1ba;
  border-radius: 5px;
  height: 45px;
  margin: 32px 0;
  font-size: 16px;
  cursor: pointer;
}

.form-button-section button:hover {
  color: #3bb1ba;
  background-color: #fff;
}
